@model E_Matura.Models.ViewModels.Matura.MaturaResultVm
@{
    ViewBag.Title = "Резултат от токущо направената матура";
}
<h2>@ViewBag.Title</h2>
Предмет: @Model.Subject
<br/>
Успех: @Model.Rating
<br/>
Дата: @Model.DateOfTake.ToString("dd-MM-yy")
