@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>E-Matura</h1>
    <p class="lead">Е-Матура Lorem ipsum dolor sit amet, sit ne fabulas appellantur, sit tota tamquam voluptatibus et, pro aeque labore oportere et. Cu magna numquam deterruisset nec. Autem putant eum ne, ut aliquid definiebas sit, modus meliore singulis qui et. Eu audire intellegebat has, usu everti denique liberavisse et, vis eu novum patrioque.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>