
@{
    ViewBag.Title = "ShowProfile";
}

<h2>ShowProfile</h2>
<ul>
    <li>@Html.ActionLink("Wrong questions", "ShowWrongQuestions","Question")</li>
    <li>@Html.ActionLink("My grades", "Grades", "Account")</li>
</ul>